body {
  background-color: rgb(41, 46, 45);
}
.hero-image {
  background-image: url("./Amster2.jpeg");

  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgb(53, 52, 52);
}

.pic {
  background-image: url(./Blur5.jpg);
  background-size: cover;
  background-color: rgb(49, 51, 49);
}
.parking {
  width: 60%;
  background-color: rgb(49, 51, 49);

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  color: #f1f1f1;
}

.words {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Rubik", sans-serif;
  color: #f1f1f1;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  margin: 15px;
}

.about2 {
  background-color: rgb(34, 39, 33);

  margin: 50px;
  padding: 10px;
  color: white;
  border-radius: 20px;
  overflow: hidden;
}

.about-image2 {
  float: left;
  margin: 10px;
  border-radius: 20px;
  height: 400px;
}

@media (max-width: 600px) {
  .pic {
    background-image: url(./Blursm5.jpg);
    background-size: cover;
    color: black;
  }
}

@media (max-width: 600px) {
  .parking {
    width: 90%;
    height: 35%;

    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .about2 {
    width: 100%;
    margin: auto;
  }
}

.navvy {
  font-family: "Montserrat", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: larger;
}

.footer {
  height: 50px;
  background-color: rgb(34, 39, 33);
  color: rgb(82, 79, 79);
  text-align: center;
  padding: 0.5px 0;
}
